extends ../common/layout
block title
   title "Events List"
block content
   #content
      h1 Events
      table
         thead
            tr
               td Event
               td Date
               td location
               td
               td
               td
         tbody
            each event in events
               tr
                  td= event.name
                  td= event.dateToDayString()
                  td= event.location
                  td
                     a(href="/events/#{event._id}") Show Details
                  td
                     a(href="/events/#{event._id}/edit") Edit
                  td
                     a(href="/events/#{event.id}/delete", class="delete-link") Delete
