extends ../common/layout

block title
   title= event.name

block content
   p= event.name
   p= event.location
   p= event.dateToDayString()
   p Tee Times
   each flight, index in event.flights
      p #{common.dateToTimeString(flight.time)}  #{flight.maxPlayers} Players
         each player in flight.players
             p= player
