extends ../common/layout.jade

block title
   title= event.name

block content
   p= event.name
   p= event.location
   p= event.dateToDayString()
   p Tee Times
   each flight, index in event.flights
      p= event.dateToTimeString(index)
      p #{flight.maxPlayers} Players
         each player in flight.players
             p= player
